p {
  font-family: Lucida Sans Unicode, Helvetica, Arial,sans-serif;
  background-color:#F0F0F0;
  font-size:22pt; 
  color:#A4A400;
  font-weight: bold;
}

.quote3 {
  
  background-color:#F0F0F0;
  font-size:18pt; 
  color:#A4A400;
  font-family: Lucida Sans Unicode, Helvetica, Arial,sans-serif;
    text-decoration: underline;
}
p9 {
  
  background-color:#ffdd99;
}
p10 {
  font-family: Georgia, Garamond,serif;
 font-size:11pt; 
  color:#404040;
}
p11 {
  font-family: "Courier New", Courier, monospace;
 font-size:11pt; 
  color:#404040;
}
.quote4{
     font-size: 11pt;
     font-family: Georgia, Geramond, serif;
     background: #FFFFA8;
     margin-left:5em;
  margin-right:5em;
}
p5 {
    text-decoration: line-through;
}
a:link {
    color: #A4A400;
}
p13 {
  color:#A4A400;
  font-family: Georgia, Garamond,serif;
 font-size:11pt; 
  
}